<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
<<<<<<< HEAD
=======
    <div class="footer">
  <div class="footer-copyright">
    This site was made with <i class="fas fa-heart"></i> during the Le Wagon bootcamp 2024
  
  </div>
</div>

>>>>>>> 832a7ff835936b5437ed60f3e014a6c354243f15
  </body>
</html>
